<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mysql.properties</value>
			</list>
		</property>
	</bean>

	<context:component-scan base-package="pers.zr.opensource.magic.conf.server.module" />

	<bean id="masterDs" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${master.mysql.url}" />
		<property name="user" value="${master.mysql.username}" />
		<property name="password" value="${master.mysql.password}" />
		<property name="driverClass" value="${mysql.driver_class}" />
		<property name="maxPoolSize" value="${mysql.maxPoolSize}" />
		<property name="minPoolSize" value="${mysql.minPoolSize}" />
		<property name="initialPoolSize" value="${mysql.initialPoolSize}" />
		<property name="maxIdleTime" value="${mysql.maxIdleTime}" />
		<property name="checkoutTimeout" value="${mysql.checkoutTimeout}" />
		<property name="acquireIncrement" value="${mysql.acquireIncrement}" />
		<property name="acquireRetryAttempts" value="${mysql.acquireRetryAttempts}" />
		<property name="acquireRetryDelay" value="${mysql.acquireRetryDelay}" />
		<property name="autoCommitOnClose" value="${mysql.autoCommitOnClose}" />
		<property name="automaticTestTable" value="${mysql.automaticTestTable}" />
		<property name="breakAfterAcquireFailure" value="${mysql.breakAfterAcquireFailure}" />
		<property name="idleConnectionTestPeriod" value="${mysql.idleConnectionTestPeriod}" />
		<property name="maxStatements" value="${mysql.maxStatements}" />
		<property name="maxStatementsPerConnection" value="${mysql.maxStatementsPerConnection}" />
	</bean>


	<bean id="slave01Ds" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${slave01.mysql.url}" />
		<property name="user" value="${slave01.mysql.username}" />
		<property name="password" value="${slave01.mysql.password}" />
		<property name="driverClass" value="${mysql.driver_class}" />
		<property name="maxPoolSize" value="${mysql.maxPoolSize}" />
		<property name="minPoolSize" value="${mysql.minPoolSize}" />
		<property name="initialPoolSize" value="${mysql.initialPoolSize}" />
		<property name="maxIdleTime" value="${mysql.maxIdleTime}" />
		<property name="checkoutTimeout" value="${mysql.checkoutTimeout}" />
		<property name="acquireIncrement" value="${mysql.acquireIncrement}" />
		<property name="acquireRetryAttempts" value="${mysql.acquireRetryAttempts}" />
		<property name="acquireRetryDelay" value="${mysql.acquireRetryDelay}" />
		<property name="autoCommitOnClose" value="${mysql.autoCommitOnClose}" />
		<property name="automaticTestTable" value="${mysql.automaticTestTable}" />
		<property name="breakAfterAcquireFailure" value="${mysql.breakAfterAcquireFailure}" />
		<property name="idleConnectionTestPeriod" value="${mysql.idleConnectionTestPeriod}" />
		<property name="maxStatements" value="${mysql.maxStatements}" />
		<property name="maxStatementsPerConnection" value="${mysql.maxStatementsPerConnection}" />
	</bean>


	<bean id="slave02Ds" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${slave02.mysql.url}" />
		<property name="user" value="${slave02.mysql.username}" />
		<property name="password" value="${slave02.mysql.password}" />
		<property name="driverClass" value="${mysql.driver_class}" />
		<property name="maxPoolSize" value="${mysql.maxPoolSize}" />
		<property name="minPoolSize" value="${mysql.minPoolSize}" />
		<property name="initialPoolSize" value="${mysql.initialPoolSize}" />
		<property name="maxIdleTime" value="${mysql.maxIdleTime}" />
		<property name="checkoutTimeout" value="${mysql.checkoutTimeout}" />
		<property name="acquireIncrement" value="${mysql.acquireIncrement}" />
		<property name="acquireRetryAttempts" value="${mysql.acquireRetryAttempts}" />
		<property name="acquireRetryDelay" value="${mysql.acquireRetryDelay}" />
		<property name="autoCommitOnClose" value="${mysql.autoCommitOnClose}" />
		<property name="automaticTestTable" value="${mysql.automaticTestTable}" />
		<property name="breakAfterAcquireFailure" value="${mysql.breakAfterAcquireFailure}" />
		<property name="idleConnectionTestPeriod" value="${mysql.idleConnectionTestPeriod}" />
		<property name="maxStatements" value="${mysql.maxStatements}" />
		<property name="maxStatementsPerConnection" value="${mysql.maxStatementsPerConnection}" />
	</bean>

	<bean id="magicDataSource" class="pers.zr.opensource.magic.dao.MagicMultipleDataSource" >
		<property name="master" ref="masterDs" />
		<property name="slaves">
			<map>
				<entry key="slave01" value-ref="slave01Ds"  />
				<entry key="slave02" value-ref="slave02Ds"  />
			</map>
		</property>
	</bean>

	<bean id="queryDataSourceAop" class="pers.zr.opensource.magic.dao.runtime.RuntimeQueryDataSourceAop"></bean>
	<aop:config>
		<aop:aspect ref="queryDataSourceAop">
			<aop:around method="determine"
					pointcut="execution(* pers.zr.opensource.magic.conf.server.module.profile.service.impl.ProfileMgrServiceImpl.getProfileList(..))" />
		</aop:aspect>
	</aop:config>


	<!-- Dao beans-->

	<bean id="appDao" class="pers.zr.opensource.magic.conf.server.module.app.dao.impl.AppDaoImpl" >
		<property name="magicDataSource" ref="magicDataSource" />
	</bean>

	<bean id="appVersionDao" class="pers.zr.opensource.magic.conf.server.module.app.dao.impl.AppVersionDaoImpl" >
		<property name="magicDataSource" ref="magicDataSource" />
	</bean>

	<bean id="profileDao" class="pers.zr.opensource.magic.conf.server.module.profile.dao.impl.ProfileDaoImpl" >
		<property name="magicDataSource" ref="magicDataSource" />
	</bean>

	<bean id="groupDao" class="pers.zr.opensource.magic.conf.server.module.group.dao.impl.GroupDaoImpl" >
		<property name="magicDataSource" ref="magicDataSource" />
	</bean>

	<!-- 事务管理器 -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="masterDs" />
	</bean>
	<!-- 事务注解驱动，标注@Transactional的类和方法将具有事务性 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>